.album {
  flex: 0 0 auto;
  width: 100%; // You can adjust based on the number of items you want to show
  max-width: 200px; // Adjust based on your preference
  scroll-snap-align: start;
  position: relative;
  padding: 20px;

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  h3 {
    font-size: 16px;
    margin: 10px 0 5px;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}

@media (min-width: 768px) {
  .album {
    max-width: 150px;
  }
}

@media (min-width: 1024px) {
  .album {
    max-width: 200px;
  }
}
